@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
$font-color: white;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img,
.image-small {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  margin: 0;
}

form, 
h1, 
.no-list {
  display: none;
}

header {
  background-color: $byui-blue;
}

header a {
  color: $font-color;
  text-decoration: none;
}

.site-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.icon-byui-logo {
  background-color: $body-font;
  color: $font-color;
  font-size: 50px;
  padding: 10px;
}

.site-banner__left {
  padding: 10px 10px 10px 0;
}

.mobile-header-icon {
  font-size: 40px;
}

.title {
  height: 60px; 
  
  background-color: $med-gray;
  border-bottom: 1px solid black;
}

h2 {
  margin: 0 auto;
}

.list, 
.image-small {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

li {
  list-style: none;
  padding: 20px;
}

@media only screen and (min-width: $sm-break) {

  .first-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .site-banner {
    width: 600px;
  }

  .no-list {
    display: block;
    background-color: $light-gray;
  }

  .no-list li {
    border: 1px solid black;
    padding: 10px;
  }

  .image-small {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

}